<div class="vu-landing-form">

    <div class="question">Điều làm bạn thấy tiếc nuối?</div>
    <div class="answer">[textarea your-answer-1 placeholder "Câu trả lời của bạn"]</div>
    
    <div class="question">Điều làm bạn thấy bình yên?</div>
    <div class="answer">[textarea your-answer-2 placeholder "Câu trả lời của bạn"]</div>
    
    <div class="question">Chia sẻ câu chuyện của bạn gắn với ca khúc của Vũ. </div>
    <div class="answer">[textarea your-answer-3 placeholder "Câu trả lời của bạn"]</div>
    
    <div class="email">
    <div class="label"> Email (*)</div>
    [email* your-email placeholder "Email của bạn"]
    </div>
    
    <div class="phone">
    <div class="label"> Số điện thoại (*) </div>
    [tel* your-phone placeholder "Số điện thoại của bạn"]
    </div>
    
    <div class="submit-form">
    [submit "Submit"]
    </div>
</div>