<div class="vu-landing-form">

    <div class="textarea-control">
    <div class="label">From:</div>
    <div class="answer">[textarea your-answer-1 placeholder "Điền tên bạn hoặc để trống nếu muốn ẩn danh"]</div>
    </div>
    
    <div class="textarea-control">
    <div class="label">To:</div>
    <div class="answer">[textarea your-answer-2 placeholder "Điền tên người mà bạn muốn gửi thông điệp đến"]</div>
    </div>
    
    <div class="textarea-control">
    <div class="label">Điều làm bạn nuối tiếc?</div>
    <div class="answer">[textarea your-answer-3 placeholder "Câu trả lời của bạn"]</div>
    </div>
    
    <div class="textarea-control">
    <div class="label">Điều làm bạn thấy bình yên?</div>
    <div class="answer">[textarea your-answer-4 placeholder "Câu trả lời của bạn"]</div>
    </div>
    
    <div class="textarea-control">
    <div class="label">Chia sẻ câu chuyện bạn gắn với ca khúc của Vũ.</div>
    <div class="answer">[textarea your-answer-5 placeholder "Câu trả lời của bạn"]</div>
    </div>
    
    <div class="email">
    <div class="label"> Email: </div>
    [email* your-email placeholder "Email của bạn"]
    </div>
    
    
    <div class="checkbox-control">
    [acceptance your-acceptance id:accept_check_form] Tôi đồng ý chia sẻ câu chuyện của tôi tại BẢO TÀNG CỦA NUỐI TIẾC [/acceptance]
    </div>
    
    <div class="submit-form">
    [submit "GỬI “TIẾC NUỐI”"]
    </div>
    </div>