<div class="vu-landing-form">

    <div class="input-control">
        <div class="label">Nhập Tên của bạn</div>
        [text your-answer-1 placeholder "Câu trả lời của bạn"]
    </div>
    
    <div class="input-control">
        <div class="label">Nhập tên người nhận (*)</div>
        [text* your-answer-2 placeholder "Câu trả lời của bạn"]
    </div>
    
    <div class="textarea-control">
        <div class="label">Đều mà bạn muốn nhắn nhủ đến đối phương (*)</div>
        [textarea* your-answer-3 placeholder "Câu trả lời của bạn"]
    </div>
    
    <div class="checkbox-control">
    [acceptance your-acceptance id:accept_check_form] Khi nhấn "submit", bạn đồng ý chia sẽ những thông tin đã điền trong form này[/acceptance]
    </div>
    
    <div class="submit-form">
    [submit "SUBMIT"]
    </div>
</div>