<div class="vu-landing-form">

    <div class="textarea-control">
    <div class="label">From: <điền tên bạn hoặc để trống nếu muốn ẩn danh></div>
    [textarea your-name placeholder "Tên của bạn"]
    </div>
    
    <div class="textarea-control">
    <div class="label">To: <điền tên người mà bạn muốn gửi thông điệp đến></div>
    [textarea your-name-receive placeholder "Tên người nhận"]
    </div>
    
    <div class="email input-control">
    <div class="label"> Email (*)</div>
    [email* your-email placeholder "Email của bạn"]
    </div>
    
    <div class="phone input-control">
    <div class="label"> Số điện thoại (*) </div>
    [tel* your-phone placeholder "Số điện thoại của bạn"]
    </div>
    
    <div class="checkbox-control">
    [acceptance your-acceptance id:accept_check_form] Bạn đồng ý chia sẻ câu chuyện của bạn tại BẢO TÀNG CỦA NUỐI TIẾC [/acceptance]
    </div>
    
    <div class="submit-form">
    [submit "GỬI “TIẾC NUỐI”"]
    </div>
</div>