/* 
* Home page style
*/
.banner-slider {
    width: 100%;
    height: calc(100vh - 110px);
    @include desktop {
        height: calc(100vh - 70px);
    }
    @include tablet {
        height: calc(100vh - 60px);
    }
    @include tablet {
        height: calc(93vh - 60px);
    }
    .list-banner-slider {
        width: 100%;
        height: 100%;
    }
    .item-slider {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .banner-image {
        position: absolute;
        height: 100%;
        width: 100%;
        @include desktop {
            height: 55%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .latest-releases {
        position: absolute;
        bottom: 40px;
        width: fit-content;
        z-index: 2;
        @include desktop {
            bottom: calc(45% + 15px);
        }
        img {
            width: 20px !important;
        }
        a {
            width: 200px;
            display: block;
            padding: 10px;
            border-radius: 12px;
            text-align: center;
            background-color: $color__primary;
            color: $color__bg !important;
            font-weight: 800;
            position: relative;
            @include tablet {
                width: 180px;
            }
            @media screen and (max-width: 400px) {
                width: 150px;
                font-size: 13px;
            }
            &:hover {
                text-decoration: none;
            }
            .icon-arrow-btn {
                position: absolute;
                right: 12px;
                top: 50%;
                @include translate(0, -50%);
                @include tablet {
                    right: 6px;
                }
            }
        }
    }
    .slick-dots {
        position: absolute;
        bottom: 56px;
        z-index: 2;
        @include desktop {
            bottom: calc(45% + 30px);
        }
    }
    .left-information,
    .left-information-mobile {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        width: 350px;
        background-color: rgba($color: $color__bg, $alpha: 0.85);
        padding: 40px 45px 0 45px;
        .square-image {
            width: calc(350px - 100px);
            height: calc(350px - 100px);
            border: 10px solid rgba($color: $color__bg-priamry-1, $alpha: .8);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .artist {
            margin-bottom: 12px;
            font-size: 30px;
            font-weight: 800;
            line-height: 1.2;
            padding: 0 10px;
        }
        .sub-title {
            margin-top: 12px;
            margin-bottom: 3px;
            line-height: 1.2;
            color: $color__main;
            font-size: 20px;
            padding: 0 10px;
        }
        .title {
            line-height: 1.2;
            font-size: 22px;
            font-weight: 800;
            padding: 0 10px;
        }
        .content-box {
            height: calc(100% - 100px);
            overflow-y: auto;
            &*{
                scrollbar-width: thin; // (variable: none, thin, auto)
                scrollbar-color: $color__bg-primary $color__bg-priamry-1;
            }
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-track {
                background: $color__bg-priamry-1;
            }
            &::-webkit-scrollbar-thumb {
                background: $color__bg-primary;
            }
        }
        .content-group {
            position: relative;
            height: 100%;
        }
        .listen-link {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 40px;
            padding: 0 10px;
            img {
                width: 25px !important;
            }
            a {
                width: 100%;
                display: block;
                padding: 10px;
                border-radius: 12px;
                text-align: center;
                background-color: $color__main;
                color: $color__bg !important;
                font-weight: 800;
                position: relative;
                &:hover {
                    text-decoration: none;
                }
                .icon-play {
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    @include translate(0, -50%);
                }
            }
        }
    }
    .left-information-mobile {
        width: 100%;
        height: 45%;
        padding: 40px 35px 0 35px;
        bottom: 0;
        background-color: $color__bg;
        @include tablet {
            padding: 30px 30px 0 30px;
        }
        .content-group {
            display: flex;
            .col-infor-left {
                width: 70%;
                @include tablet {
                    width: 50%;
                }
            }
            .col-square-image {
                width: 30%;
                @include tablet {
                    width: 50%;
                }
            }
        }
        .artist {
            padding-left: 0;
            @include tablet {
                font-size: 25px;
            }
            @include small_screen {
                font-size: 20px;
            }
        }
        .sub-title {
            padding-left: 0;
            @include tablet {
                font-size: 18px;
            }
            @include small_screen {
                font-size: 16px;
            }
        }
        .title {
            padding-left: 0;
            @include tablet {
                font-size: 18px;
            }
            @include small_screen {
                font-size: 16px;
            }
        }
        .square-image {
            width: 180px;
            height: 180px;
            margin-left: auto;
            border: 5px solid rgba($color: $color__bg-priamry-1, $alpha: .8);
            @include mobile {
                width: 130px;
                height: 130px;
            }
        }
        .listen-link {
            width: 240px;
            padding: 0;
            @include tablet {
                width: 200px;
                bottom: 35px;
            }
            @media screen and (max-width: 400px) {
                width: 150px;
                font-size: 13px;
            }
            img {
                width: 20px !important;
            }
        }
    }
}
.admin-bar {
    .banner-slider {
        height: calc(100vh - 142px);
        @include desktop {
            height: calc(100vh - 102px);
        }
        @media screen and (max-width: 782px) {
            height: calc(100vh - 116px);
        }
        @include tablet {
            height: calc(100vh - 106px);
        }
        @include mobile {
            height: calc(93vh - 106px);
        }
    }
}

.artists {
    padding: 150px 0 0 0;
    .list-artist {
        display: flex;
        margin: 0 -10px;
        @include desktop {
            flex-wrap: wrap;
        }
        @include mobile {
            margin: 0 -5px;
        }
        .artist-item {
            width: calc(100% /4);
            margin-bottom: 20px;
            @include desktop {
                width: calc(100%/2);
            }
            .content-box {
                padding: 0 10px;
                width: 100%;
                @include mobile {
                    padding: 0 5px;
                }
            }
            &:last-child {
                .content-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                }
            }
            .image-feature {
                width: 100%;
                position: relative;
                img {
                    width: 100% !important;
                    object-fit: cover;
                    filter: grayscale(100%);
                    @include transition(all .3s ease-in-out);
                }
            }
            .cont-feature-icon {
                position: relative;
            }
            .triangle-right {
                width: 0; 
                height: 0; 
                border-top: 60px solid transparent;
                border-bottom: 0px solid transparent;
                border-left: 70px solid $color__primary;
                position: absolute;
                bottom: 0;
                opacity: 0;
                visibility: hidden;
                @include transition(all .3s ease-in-out);
                img {
                    position: absolute;
                    bottom: 14px;
                    left: -52px;
                }
                @include mobile {
                    border-left: 50px solid $color__primary;
                    img {
                        bottom: 6px;
                        left: -42px;
                    }
                }
            }
            &:hover {
                .triangle-right {
                    opacity: 1;
                    visibility: visible;
                }
                .image-feature {
                    img {
                        filter: grayscale(0);
                    }
                }
            }
        }
        .title-warner-h2 {
            text-align: right;
        }
        .artist-item-title {
            position: relative;
            z-index: 2;
        }
        .name {
            margin-top: 20px;
            @include mobile {
                margin-top: 10px;
            }
            a {
                font-size: 22px;
                font-weight: 800;
                line-height: 1.2;
                @include tablet {
                    font-size: 18px;
                }
                @include mobile {
                    font-size: 15px;
                }
            }
        }
    }
    .button-link-warner {
        margin-top: 30px;
        margin-left: auto;
    }
}

.news {
    padding: 150px 0 0 0;
    .list-news {
        display: flex;
        margin: 0 -10px;
        @include desktop {
            flex-wrap: wrap;
        }
        @include mobile {
            margin: 0 -5px;
        }
        .highlights-news-item {
            position: relative;
            width: calc(100% /4);
            margin-bottom: 20px;
            z-index: 1;
            @include desktop {
                width: calc(100%/2);
            }
            .content-box {
                padding: 0 10px;
                width: 100%;
                @include mobile {
                    padding: 0 5px;
                }
            }
            .image-feature {
                position: relative;
                width: 100%;
                img {
                    width: 100% !important;
                    object-fit: cover;
                }
            }
            &:first-child {
                .content-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                }
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                .image-feature {
                    &::after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 10px;
                        background-color: $color__primary-1;
                        bottom: 0;
                        left: 0;
                        @include mobile {
                            height: 7px;
                        }
                    }
                }
            }
            &:nth-child(3) {
                .image-feature {
                    &::after {
                        background-color: $color__primary-2;
                    }
                }
            }
            &:nth-child(4) {
                .image-feature {
                    &::after {
                        background-color: $color__primary-3;
                    }
                }
            }
        }
        .title-warner-h2 {
            text-align: left;
        }
        .news-item-title {
            position: relative;
            z-index: 2;
        }
        .name {
            margin-top: 20px;
            margin-bottom: 10px;
            @include mobile {
                margin-top: 10px;
            }
            a {
                font-size: 18px;
                font-weight: 800;
                line-height: 1.2;
                @include tablet {
                    font-size: 16px;
                }
                @include mobile {
                    font-size: 14px;
                }
            }
        }
        .description {
            color: $color__gray;
        }
    }
    .button-link-warner {
        margin-top: 30px;
    }
}
.events {
    padding-top: 150px;
    .row {
        @include desktop {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .event-artist {
        width: 100%;
        height: 100%;
        padding: 100px;
        @include desktop {
            padding: 100px 60px 100px 0;
        }
        @include tablet {
            padding: 80px 50px 80px 0;
        }
        background-color: $color__main;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        .image {
            width: 300px;
            height: 300px;
            @include mobile {
                width: 200px;
                height: 200px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .name {
            margin-top: 10px;
            font-size: 34px;
            line-height: 1.4;
            font-weight: 800;
            a {
                color: $color__bg !important;
                &:hover {
                    color: $color__bg !important;
                }
            }
        }
        .triangle-right {
            width: 0; 
            height: 0; 
            border-top: 60px solid transparent;
            border-bottom: 0px solid transparent;
            border-left: 70px solid $color__primary;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .event-item {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
        .col-left {
            padding-right: 15px;
        }
    }
    .event-list {
        .title-warner-h2 {
            text-align: right;
            margin-bottom: 40px;
        }
        .date {
            font-size: 27px;
            color: $color__main;
            line-height: 1.3;
            @include tablet {
                font-size: 20px;
            }
        }
        .position {
            font-weight: bold;
        }
    }
}
.playlists {
    padding: 100px 0 60px 0;
    position: relative;
    .bg-over {
        background-color: $color__bg-priamry-2;
        padding: 50px 60px 30px 60px;
        margin: 0 -60px 0 -60px;
        @media screen and (max-width: 1210px) {
            padding: 40px 50px 20px 50px;
            margin: 0;
        }
        @include mobile {
            padding: 30px 20px 10px 20px;
        }
    }
    .title-warner-h2 {
        text-align: left;
        line-height: 1.2;
        position: relative;
        z-index: 2;
        margin-bottom: 30px;
    }
    .list-playlist {
        display: flex;
        margin: 0 -10px;
        justify-content: center;
        @include desktop {
            flex-wrap: wrap;
        }
        .title {
            font-weight: 800;
        }
        .sub-title {
            color: $color__gray;
            margin-bottom: 30px;
        }
        .playlist-item {
            width: calc(100% /3);
            margin-bottom: 20px;
            @include desktop {
                width: calc(100% /2);
            }
            @include tablet {
                width: 100%;
            }
            .content-box {
                padding: 0 10px;
            }
        }
        iframe {
            border-radius: 0 !important;
        }
    }
}