.highlight-news {
  margin-bottom: 40px;
  .image-square {
    img {
      object-position: bottom;
    }
  }
  .information {
    display: flex;
    align-items: center;
    padding-right: 60px;
    height: 100%;
    .publish-date {
      font-size: 16px;
      line-height: 1.25;
      margin-bottom: 5px;
    }
    a {
      font-size: 40px;
      line-height: 1.2;
    }
    @include desktop {
      padding-right: 0;
      .group-content {
        a {
          font-size: 25px;
        }
      }
    }
    @include tablet {
      display: block;
      .group-content {
        margin-top: 0;
        margin-bottom: 20px;
        a {
          font-size: 22px;
        }
      }
    }
  }
}

.site-news-page {
  .list-layout-warner-3-no-slider {
    .gird-item-no-square {
      .group-content {
        .name {
          .title {
            line-height: 1.25;
            @include tablet {
              font-size: 22px;
            }
            @media screen and (max-width: 575px) {
              font-size: 20px;
            }
          }
        }
        .image-feature {
          &::after {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.98), transparent);
            background: -webkit-gradient(
              linear,
              left bottom,
              left top,
              from(rgba(0, 0, 0, 0.98)),
              to(transparent)
            );
          }
        }
      }
    }
  }
}
