.song-detail-template {
    padding: 50px 0;
    .single-song-row {
        display: flex;
        @include desktop {
            display: block;
        }
    }
    .song-thumbnail {
        width: 60%;
        padding-right: 40px;
        justify-content: flex-end;
        display: flex;
        @include big_screen {
            padding-right: 25px;
        }
        @include desktop {
            justify-content: center;
            width: 100%;
            padding-right: 0;
            margin-bottom: 40px;
        }
    }
    .image-square {
        width: 100%;
        max-width: 548px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    h1 {
        margin-bottom: 5px !important;
    }
    .artist-link {
        text-decoration: underline;
        text-underline-offset: 6px;
        font-size: 25px;
    }
    .group-lists-social-link {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include desktop {
            width: 100%;
            display: block;
        }
    }
    .lists-social-link {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
            background-color: $color__dark;
            border-radius: 8px;
            height: 56px;
            margin-top: 16px;
            width: 100%;
            max-width: 392px;
            overflow: hidden;
            &:first-child {
                margin-top: 0;
            }
            @include big_screen {
                height: 52px;
            }
            @include desktop {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .btn-link-social {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-position: center !important;
        background-size: 100px auto !important;
        background-repeat: no-repeat !important;
        background-color: $color__primary-6 !important;
        &:hover,
        &:focus {
            opacity: 0.7;
        }
    }
    .btn-spotify {
        background-color: $color__primary-9 !important;
        background-image: url('../images/icon/spotify.svg') !important;
    }
    .btn-apple_music {
        background-color: $color__primary-5 !important;
        background-image: url('../images/icon/apple_music.svg') !important;
    }
    .btn-youtube_music {
        background-size: 130px auto !important;
        background-image: url('../images/icon/youtube_music.svg') !important;
    }
    .btn-amazon_music {
        background-color: $color__primary-7 !important;
        background-size: 130px auto !important;
        background-image: url('../images/icon/amazon_music.svg') !important;
    }
    .btn-claro_musica {
        background-size: 110px auto !important;
        background-image: url('../images/icon/claro_musica.svg') !important;
    }
    .btn-deezer {
        background-color: $color__primary-8 !important;
        background-image: url('../images/icon/deezer.svg') !important;
    }
    .infor-head {
        width: 100%;
        max-width: 392px;
        margin-bottom: 40px;
        @include desktop {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.single-post-template {
    h1 {
        display: inline;
        margin-bottom: 1px;
        color: $color__gray-1 !important;
        @include desktop {
            display: inline-block;
        }
    }
    .publish-date {
        display: inline;
        color: $color__gray-1 !important;
        @include desktop {
            display: block;
        }
    }
    .main-image {
        position: relative;
        width: calc(50% - 50px);
        margin: 8px 0 0 15px;
        @include desktop {
            width: 50%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .main-image-mobile {
        position: fixed;
        z-index: -1000;
        top: -1000px;
        @include desktop {
            position: static;
        }
    }
    .main-image-desktop {
        @include desktop {
            position: absolute;
            z-index: -1000;
            top: -1000px;
            opacity: 0;
            visibility: hidden;
        }
    }
    .main-single-post {
        padding-right: 30px;
        @include desktop {
            padding-right: 15px;
        }
        @include tablet {
            margin-bottom: 70px;
            padding-right: 0;
        }
    }
    .sidebar {
        padding-left: 15px;
        @include desktop {
            padding-left: 0;
        }
        h2 {
            color: $color__gray-1 !important;
            font-weight: 400;
        }
    }
    .list-related {
        margin-bottom: 40px;
    }
    .thumbnail {
        border: 2px solid $color__light;
        width: calc(35% + 15px);
        margin-right: 15px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transition(all .3s ease-in-out);
        }
    }
    .related-item {
        margin-bottom: 15px;
        @include tablet {
            margin-bottom: 20px;
        }
        @include mobile {
            margin-bottom: 15px;
        }
        a {
            display: flex;
            &:hover {
                text-decoration: none !important;
            }
        }
        &:hover {
            img {
                @include scale(1.1);
            }
        }
    }
    .related-artist-item  {
        .name-related {
            margin-top: 5px;
            width: calc(35% + 15px);
        }
        a {
            display: block;
        }
    }
    .group-cont-text {
        width: calc(65% - 15px);
        .title {
            font-size: 14px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            @include big_screen {
                -webkit-line-clamp: 2;
            }
            @include tablet {
                -webkit-line-clamp: 5;
            }
            @include mobile {
                -webkit-line-clamp: 3;
            }
            @include small_screen {
                -webkit-line-clamp: 2;
            }
        }
        .publish-date {
            font-size: 13px;
        }
    }
    .main-content {
        p,li {
            color: $color__gray-2 !important;
        }
        ul,ol {
            margin-bottom: 20px;
            li {
                margin-bottom: 8px;
            }
        }
    }
}