.taxonomy-singer-template {
  padding: 70px 0;
  @include tablet {
    padding-top: 40px;
    h1.title-tax {
      font-size: 35px;
      margin-bottom: 15px;
    }
  }
  @include mobile {
    h1.title-tax {
      font-size: 28px;
    }
  }
  .listent-on,
  .connect-with-singer {
    margin-bottom: 30px;
  }
  .col-main-content {
    @include tablet {
      margin-top: 30px;
    }
  }
  .main-content-singer {
    font-weight: 200;
    text-align: justify;
  }
  .list-media-icons,
  .list-social-icons {
    list-style: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
  }
  .col-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: calc(102px + 30px);
    height: 100%;
    @include tablet {
      height: unset;
      top: unset;
      position: static;
      position: -webkit-static;
    }
  }
  .media-link-item {
    margin: 0 15px 15px 0;
    position: relative;
    top: 0;
    @include transition(all 0.1s ease-in-out);
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $color__light;
      border-radius: 50vh;
      padding: 12px 20px;
      width: auto;
      min-width: 160px;
      background-color: transparent;
    }
    img {
      height: 24px;
      width: auto;
    }
    &:hover {
      top: -2px;
    }
  }
  .social-link-item {
    margin: 0 25px 15px 0;
    position: relative;
    top: 0;
    @include transition(all 0.1s ease-in-out);
    a {
      display: block;
      img {
        height: 40px;
        width: auto;
      }
    }
    &:hover {
      top: -2px;
    }
  }
  .group-artist-videos,
  .group-artist-playlists,
  .group-artist-embed-link {
    .list-videos,
    .list-playlist {
      .slick-track {
        margin-left: 0;
      }
    }
  }
}
