/*
* Global Style
*/

html {
    overflow-x: hidden;
}

body {
    padding: 102px 0 0 0 !important;
    margin: 0 !important;
    font-size: 16px !important;
    color: $color__light !important;
    font-family: $font__global;
    font-weight: 400;
    background-color: $color__dark !important;
    @include tablet {
        padding: 70px 0 0 0 !important;
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: $font__global !important;
        color: $color__light !important;
    }
    h2.title-warner-h2 {
        font-size: 70px;
        font-weight: 400;
        line-height: 1.2;
        @include big_screen {
            font-size: 50px;
        }
        @include desktop {
            font-size: 65px
        }
        @include tablet {
            font-size: 40px;
        }
        @include mobile {
            font-size: 35px;
        }
    }
    h2.title-warner-h2.margin-bottom {
        margin-bottom: 30px;
    }
    p {
        color: $color__light !important;
        font-size: 16px;
        font-family: $font__global;
        font-weight: 400;
    }
    a {
        color: $color__light !important;
        font-family: $font__global !important;
        @include transition(all .3s ease-in-out);
        &:-webkit-any-link:focus {
            outline-offset: unset;
            outline: none;
        }
        &:focus-visible,
        &:focus {
            color: inherit !important;
            outline: none !important;
            outline-offset: unset !important;
            text-decoration: none !important;
            background: transparent !important;
            img {
                outline: none !important;
            }
        }
        &:hover {
            color: $color__main !important;
            text-decoration-style: solid !important;
        }
    }
    .entry-footer {
        color: $color__light;
    }
    #main {
        padding: 0;
    }
}

/* button hamburger*/
.btn-hamburger {
    width: 22px;
    height: 14px;
    align-items: center;
    cursor: pointer;
    position: relative;
    @include desktop {
        display: block;
    }
    span {
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: $color__light;
        @include transition (all .2s ease-in-out);
        &:first-child {
            top: 0;
        }
        &:nth-child(2) {
            top: 50%;
            transform: translate(0, -50%);
        }
        &:last-child {
            bottom: 0;
        }
    }
}

.hamburger-active {
    span {
        &:first-child {
            top: 6px;
            transition-delay: .1s;
            transform: rotate(45deg);
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:last-child {
            transform: rotate(-45deg);
            bottom: 6px;
            transition-delay: .1s;
        }
    }
}

.button-link-warner {
    width: fit-content;
    a {
        width: auto;
        min-width: 150px;
        display: block;
        padding: 10px 15px;
        border-radius: 40px;
        text-align: center;
        background-color: $color__light;
        color: $color__bg !important;
        font-weight: 700;
        font-size: 16px !important;
        line-height: 1.5 !important;
        @media screen and (max-width: 400px) {
            font-size: 13px !important;
        }
        &:hover {
            text-decoration: none;
            color: $color__bg !important;
            background-color: $color__main
        }
    }
}

#overlayer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100000;
    background: $color__dark;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    margin: auto;
    width: 45px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div {
        background: $color__light;
        height: 100%;
        width: 4px;
        margin: 0 1px;
        animation: stretch 2s infinite;
        animation-timing-function: cubic-bezier(.62,.28,.23,.99);
    }
    .r1 {
        animation-delay: -1s;
    }
    .r2 {
        animation-delay: -.9s;
    }
    .r3 {
        animation-delay: -.8s;
    } 
    .r4 {
        animation-delay: -.7s;
    }
    .r5 {
        animation-delay: -.6s;
    }
}

.scroll-top {
    position: fixed;
    bottom: 130px;
    right: -50px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color__dark;
    border: 1px solid $color__bg;
    z-index: 999;
    cursor: pointer;
    @include transition(all .3s ease-in-out);
    img {
        @include rotate(-90);
        width: 8px;
        height: auto;
        @include transition(all .3s ease-in-out);
    }
    &:hover {
        background-color: $color__bg;
    }
    @include tablet {
        bottom: 107px;
        width: 30px;
        height: 30px;
    }
}
.active-scroll-top {
    right: 50px;
    @include big_screen {
        right: 30px;
    }
    @include mobile {
        right: 15px;
    }
}

.show-on-mobile {
    display: none !important;
    @include desktop {
        display: block !important;
    }
}

.hiden-on-mobile {
    @include desktop {
        display: none !important;
    }
}

.slick-dots {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    li {
        display: flex;
        align-items: center;
        margin: 0 7px;
        @include tablet {
            margin:  0 6px;
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        button {
            width: 13px;
            height: 13px;
            font-size: 0 !important;
            padding: 0 !important;
            border-radius: 50%;
            color: $color__light;
            background-color: $color__light !important;
            @include transition(all .3s ease-in-out);
            @include tablet {
                width: 10px;
                height: 10px;
            }
            &:focus {
                outline: none;
            }
            &:hover {
                color: $color__main;
                background-color: $color__main !important;
            }
        }
        button[aria-label="1 of 1"] {
            display: none;
        }
    }
    .slick-active {
        button {
            background-color: $color__main !important;
        }
    }
}  
.slick-arrow {
    position: absolute;
    background-image: url('../images/icon/arrow-right.png');
    font-size: 0;
    background-color: rgba($color: $color__bg-priamry-1, $alpha: 0.9) !important;
    background-size: 10px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 0;
    border: none;
    top: 50%;
    right: -8px;
    @include mobile {
        right: -4px;
    }
    @include translate(0, -50%);
    z-index: 4;
    @include transition(all .3s ease-in-out);
    z-index: 10;
}
.slick-arrow.slick-prev {
    background-image: url('../images/icon/arrow-left.png');
    right: unset;
    left: -6px;
    @include mobile {
        left: -2px;
    }
}
.slick-arrow[aria-disabled="true"] {
    opacity: 0.6;
    cursor: no-drop;
}

.text-decoration-none,
.text-decoration-none a {
    &:hover {
        text-decoration: none !important;
    }
}
.color-main {
    color: $color__main;
}

/*container 1240 on screen 1440px*/
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1210px;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        max-width: 1310px;
    }
}

@media screen and (min-width: 1800px) {
    .container {
        max-width: 1450px;
    }
}
