/* variable color */
$color__main: #72e887;
$color__primary: #ffbd1e;
$color__primary-1: #45feec;
$color__primary-2: #fe4bc3;
$color__primary-3: #ecff43;
$color__text: #1b1719;
$color__dark: #000000;
$color__light: #ffffff;
$color__bg: #1c171b;
$color__bg-primary: #2b262a;

/* fonts */
$font__mulish: 'Mulish', sans-serif;