/* variable color */
$color__main: #acffad;
$color__main-reg: #ACFFAD;
$color__main-bold: #50CB93;
$color__primary: #ffbd1e;
$color__primary-1: #45feec;
$color__primary-2: #fe4bc3;
$color__primary-3: #ecff43;
$color__primary-4: #f83840;
$color__primary-5: #ff4c6d;
$color__primary-6: #ff2c2c;
$color__primary-7: #4e22e7;
$color__primary-8: #35a7c5;
$color__primary-9: #1ecd80;
$color__bg: #1c171b;
$color__bg-primary: #2b262a;
$color__bg-priamry-1: #3f3a3e;
$color__bg-priamry-2: #373737;
$color__bg-priamry-3: #222222;
$color__bg-priamry-4: #212121;
$color__orange: #fd8158;
$color__red: #ee3723;
$color__text: #1b1719;
$color__dark: #000000;
$color__light: #ffffff;
$color__gray: #cccccc;
$color__gray-1: #b6b6b6;
$color__gray-2: #e4e5e4;

/* fonts */
@font-face {
    font-family: 'wmg-reg';
    src: url('../fonts/wmg/WMGDazzed-Reggular.otf') format('opentype'),
         url('../fonts/wmg/WMGDazzed-Reggular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wmg-bd';
    src: url('../fonts/wmg/WMGDazzed-Bold.otf') format('opentype'),
         url('../fonts/wmg/WMGDazzed-Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wmg-semi';
    src: url('../fonts/wmg/WMGDazzed-SemiBold.otf') format('opentype'),
         url('../fonts/wmg/WMGDazzed-SemiBold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font__global: 'Be Vietnam Pro', sans-serif;
$font_head_reg: 'wmg-reg', sans-serif;
$font_head_bd: 'wmg-bd', sans-serif;
$font_head_semi: 'wmg-semi', sans-serif;